                    html,
body {
    margin: 0;
    padding: 0;
    background-color: beige;
    text-align: center;
}

h1,
h2 {
    color: darkred;
}

h3, 
p,
li {
    display: inline-block;
    text-align: center;
    margin: 1.5em;
    font-size: 1.5em;
    font-weight: 400;
    color:rgb(24, 92, 7)

}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: 0 20%;
}

nav {
    width: 100%;
    background-color: beige;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-size: 1.6em;
    color: green;
    margin-right: 25px;
}

nav a:hover {
    color: darkred;
}

#banner {
    width: 50%;
    height: 50%;
}

#banner img {
    width: 75%;
    height: auto;
}

.service {
    display: inline-block;
    text-align: center;
    margin: 2em;
    
    
}

table {
    border: 3px solid black;
    width: 100%;
}
  
td,
th {
    border: 1px solid black;
    padding: 5px;
}

.list {
    display: inline-block;
    text-align: center;
    margin: 1.5em;
    font-size: 2em;
    font-weight: 400;
    color:rgb(24, 92, 7);

}

.icon {
    color: green;
    font-size: 25px;
}